@using ERPProject.UI.Areas.Admin.Models;
@model UserVM
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Personel";
    ViewData["baslik"] = "Personeller";
    ViewData["buttonismi"] = "Personel Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}
<script>
    $(document).ready(function () {
        $('#staticBackdrop').on('shown.bs.modal', function () {
            const passwordInput = $('#inputSifre');
            const toggleButton = $('#togglePassword');
            const eyeIcon = $('#togglePassword .bi-eye');
            const slashEyeIcon = $('#togglePassword .bi-eye-slash');

            toggleButton.click(function () {
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    eyeIcon.hide();
                    slashEyeIcon.show();
                } else {
                    passwordInput.attr('type', 'password');
                    slashEyeIcon.hide();
                    eyeIcon.show();
                }

            });
            eyeIcon.show();
            slashEyeIcon.hide();
        });
        $('#staticBackdrop1').on('shown.bs.modal', function () {
            const passwordInput = $('#inputSifre1');
            const toggleButton = $('#togglePassword1');
            const eyeIcon = $('#togglePassword1 .bi-eye');
            const slashEyeIcon = $('#togglePassword1 .bi-eye-slash');

            toggleButton.click(function () {
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    eyeIcon.hide();
                    slashEyeIcon.show();
                } else {
                    passwordInput.attr('type', 'password');
                    slashEyeIcon.hide();
                    eyeIcon.show();
                }

            });
            eyeIcon.show();
            slashEyeIcon.hide();
        });
    });
</script>
    <div class="container-table100" style="border-radius:8px;">
        <div class="wrap-table100">
            <div class="table100 ver5 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head bg-secondary bg-opacity-75">
                                <th class="cell100 column1 text-light">Fotoğraf</th>
                            <th class="cell100 column2 text-light">Ad</th>
                                <th class="cell100 column2 text-light">Soyad</th>
                                <th class="cell100 column3 text-light">Email</th>
                                <th class="cell100 column2 text-light">Telefon</th>
                                <th class="cell100 column2 text-light">Yetki</th>
                                <th class="cell100 column2 text-light">Departman</th>
                                <th class="cell100 column2 text-light" >Şirket</th>
                                <th class="cell100 column5 text-light" style="padding-right:3px;">İşlemler</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table100-body js-pscroll ps ps--active-y">
                <table id="example">
                        <div id="notFoundMessage" class="text-danger" style="display: none; padding-top:5px;">Sonuç bulunamadı...</div>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column2" style="padding-left:3px;">
                                        <img src="~/@user.Image" style="max-height:80px; max-width:80px;" alt="...">
                                    </td>
                                    <td class="cell100 column2" style="padding-left:5px;">@user.Name</td>
                                    <td class="cell100 column2">@user.LastName</td>
                                    <td class="cell100 column2" style="overflow:auto;">@user.Email</td>
                                    <td class="cell100 column2">@user.Phone</td>
                                    <td class="cell100 column2" id="roledoldur">
                                    @foreach (var item in user.RoleName)
                                    {
                                            @item <br>
                                    }

                                    </td>
                                    <td class="cell100 column2">@user.DepartmentName</td>
                                    <td class="cell100 column2">@user.CompanyName</td>
                                    <td class="cell100 column5">
                                        <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                İşlemler
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li 
                                                    class="dropdown-item"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop1"
                                                    data-id="@user.Id"
                                                    data-companyid="@user.CompanyId"
                                                    data-name="@user.Name"
                                                    data-lastname="@user.LastName"
                                                    data-email="@user.Email"
                                                    data-phone="@user.Phone"
                                                    data-password="@user.Password"
                                                    data-departman="@user.DepartmentId"
                                                    data-addeduser="@user.AddedUser"
                                                    data-image="@user.Image"
                                                    onclick="Departman()">Düzenle</li>
                                                <li 
                                                    class="dropdown-item"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdropRolEkle"
                                                    data-rolekleid="@user.Id">
                                                    Yetki Ekle
                                                </li>
                                                <li 
                                                    class="dropdown-item"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdropRolSil"
                                                    data-userid="@user.Id"
                                                    onclick="Doldur()">
                                                    Yetki Sil
                                                </li>
                                                <hr>
                                                <li class="dropdown-item text-danger" onclick="confirmUserDelete(@user.Id)">Sil</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Personel Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" class= action="/Admin/KullaniciEkle" method="post">
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ad..." id="inputAds" name="Name" aria-describedby="basic-addon1" required autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Soyad..." id="inputSoyAds" name="LastName" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                        <input autocomplete="off" type="email" class="form-control" placeholder="Email..." id="inputEmails" name="Email" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        <input autocomplete="off" class="form-control" id="inputPhone" type="text" name="Phone" aria-label="Please enter your phone number" placeholder="(111)-111-1111" maxlength="10" minlength="10" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-incognito"></i></span>
                        <input autocomplete="off" type="password" class="form-control" placeholder="Şifre..." id="inputSifre" name="Password" aria-describedby="basic-addon1" required>
                        <button id="togglePassword" class="btn btn-light" type="button"><i class="bi bi-eye-slash"></i><i class="bi bi-eye"></i></button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputYetki"><i class="bi bi-person-gear"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputYetki" name="RoleId" required>
                            <option value="" selected>Yetki Seç...</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDeparman"><i class="bi bi-building"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputCompany" name="CompanyId" required>
                            <option value="" selected>Şirket Seç...</option>
                            @foreach (var company in Model.Companies)
                            {
                                <option value="@company.Id">@company.Name</option>
                            }

                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDepartman"><i class="bi bi-building"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputDepartman" name="DepartmentId" required>
                            <option value="d" selected>Departman Seç...</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input type="file" name="imageFile" value="" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Personel Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" action="/Admin/KullaniciGuncelle" method="post">
                <div class="modal-body">
                    <input autocomplete="off" id="inputUserId" name="Id" class="form-control" hidden="hidden">
                    <input id="inputCompanyId" class="form-control" hidden="hidden">
                    <input autocomplete="off" id="inputAddedUser" name="AddedUser" class="form-control" type="hidden">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ad..." id="inputUserAd" name="Name" aria-describedby="basic-addon1" required autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Soyad..." id="inputUserSoyad" name="LastName" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Email..." id="inputEmail" name="Email" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        <input autocomplete="off" class="form-control" id="inputPhone1" type="text" name="Phone" aria-label="Please enter your phone number" placeholder="(111)-111-1111" maxlength="10" minlength="10" required>
                    </div>
                    <div class="input-group mb-3" hidden="hidden">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-incognito"></i></span>
                        <input autocomplete="off" type="password" class="form-control" placeholder="Şifre..." id="inputSifre1" name="Password" aria-describedby="basic-addon1" required>
                        <button id="togglePassword1" class="btn btn-light" type="button"><i class="bi bi-eye-slash"></i><i class="bi bi-eye"></i></button>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDepartman"><i class="bi bi-building"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputDepartman1" name="DepartmentId" required>
                            <option value="" selected>Departman Seç...</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input type="file" name="imageFile" value="" />
                        <input hidden="hidden" type="text" name="Image" id="inputImage"/>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdropRolEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Yetki Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" action="/Admin/KullaniciRolEkle" method="post">
                <div class="modal-body">
                    <input autocomplete="off" id="RolEkleId" name="UserId" class="form-control" hidden="hidden">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputYetki"><i class="bi bi-person-gear"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputYetki1" name="RoleId" required>
                            <option value="">Yetki Şeçiniz...</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdropRolSil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Yetki Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" action="/Admin/KullaniciRolSil" method="get">
                <div class="modal-body">
                    <input autocomplete="off" hidden="hidden" id="inputUserIdRolSil" name="UserId" class="form-control" type="text">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputYetki"><i class="bi bi-person-gear"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputYetkiRolSil" name="RoleId" required>
                            
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Sil</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var token = $("#token").val();
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);
        $(window).on('resize', function () {
            ps.update();
        })
    });
    function phoneMask() {
        var num = $("#inputPhone").val().replace(/\D/g, '');
        $(this).val(num.substring(0, 10));
    }
    $('[id="inputPhone"]').keyup(phoneMask);
    function phoneMask1() {
        var num = $("#inputPhone1").val().replace(/\D/g, '');
        $(this).val(num.substring(0, 10));
    }
    $('[id="inputPhone1"]').keyup(phoneMask1);
    $('#staticBackdrop1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var cid = button.data('companyid');
        var name = button.data('name');
        var lastname = button.data('lastname');
        var email = button.data('email');
        var phone = button.data('phone');
        var pass = button.data('password');
        var rol = button.data('rol');
        var dep = button.data('departman');
        var added = button.data('addeduser');
        var image = button.data('image');
        
        $("#inputUserId").val(id);
        $("#inputCompanyId").val(cid);
        $("#inputUserAd").val(name);
        $("#inputUserSoyad").val(lastname);
        $("#inputEmail").val(email);
        $("#inputPhone1").val(phone);
        $("#inputSifre1").val(pass);
        $("#inputYetki1").val(rol);
        $("#inputDeparman1").val(dep);
        $("#inputAddedUser").val(added);
        $("#inputImage").val(image);
    });
    $('#staticBackdropRolEkle').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('rolekleid');
        $("#RolEkleId").val(id);
    });
    $('#staticBackdropRolSil').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('userid');
        $("#inputUserIdRolSil").val(id);
    });
    function confirmUserDelete(id) {
        var result = confirm("Bu personeli silmek istediğinizden emin misiniz?");
        if (result) {
            window.location.href = 'KullaniciSil/' + id;
        }
    }
    $(document).ready(function () {
        $("#inputCompany").change(function () {
            var selectedCompanyId = $(this).val();
            $.ajax({
                url: "https://localhost:7075/GetDepartmentsByCompany/" + selectedCompanyId,
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                },
                success: function (data) {
                    // Departman seçeneklerini güncelle
                    $("#inputDepartman").empty();
                    $.each(data, function (index, item) {
                        $("#inputDepartman").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                }
            });
        });
        
    });
    function Departman() {
            var CompanyIds = $("#inputCompanyId").val();
            $.ajax({
                url: "https://localhost:7075/GetDepartmentsByCompany/" + CompanyIds,
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                },
                success: function (data) {
                    $("#inputDepartman1").empty();
                    $.each(data, function (index, item) {
                        $("#inputDepartman1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                }
            });
    }
    function Doldur() {//User Id ye göre Rolleri Getirecez

        var selectedCompanyId = $("#inputUserIdRolSil").val();;
        $.ajax({
            url: "https://localhost:7075/GetUserRolesJs/" + selectedCompanyId,
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', `Bearer ${token}`);
            },
            success: function (data) {
                $("#inputYetkiRolSil").empty();
                $.each(data, function (index, item) {
                    $("#inputYetkiRolSil").append("<option value='" + item.roleId + "'>" + item.roleName + "</option>");
                });
            }
        });
    }
</script>